@model SpResult
@{
    ViewData["Title"] = "Rate the Product";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

@foreach (Product item in Model.result)
{
    <a href="#" class="productLink" data-id="@item.ProductID" data-name="@item.ProductName  (@item.ProductCode)" data-desc="@item.ProductDesc">
        <blockquote class="quote-info">
            <h5>@item.ProductName  (@item.ProductCode)</h5>
            <p>@item.ProductDesc</p>
        </blockquote>
    </a>
}


<div class="modal fade" id="rateModal" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@ViewData["Title"] </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Add" id="rateForm" class="form-horizontal">
                    <div class="card-body">
                        <input type="hidden" value="" name="flag" id="flag" />
                        <input type="hidden" value="" name="ProductID" id="ProductID" />
                        <h5 id="ProductNameModal"> </h5>
                        <p id="ProductDescModal"></p>
                        <div class="form-group row">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Ratings" value="1" id="ratings1">
                                <label class="form-check-label" for="ratings1">good</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Ratings" value="2" id="ratings2" checked>
                                <label class="form-check-label" for="ratings2">bad</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Ratings" value="3" id="ratings3">
                                <label class="form-check-label" for="ratings3">worst</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label for="RatingRemarks">Remarks:</label>
                            </div>
                            <div class="col-sm-10">
                                <textarea name="RatingRemarks" id="RatingRemarks" class="form-control" rows="3" placeholder="Enter review ..."></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="save-model">Save </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts{
    <!-- jquery-validation -->
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/plugins/jquery-validation/additional-methods.min.js"></script>
    <script type="text/javascript">
        $(function () {

            $('.productLink').click(function (e) {
                debugger;
                e.preventDefault();
                $('#rateForm').find(':input').each(function () {
                    switch (this.type) {
                        case 'password':
                        case 'select-multiple':
                        case 'select-one':
                        case 'text':
                        case 'hidden':
                        case 'textarea':
                        case 'number':
                        case 'date':
                        case 'datetime':
                        case 'datetime-local':
                            $(this).val('');
                            break;
                        case 'checkbox':
                        case 'radio':
                            this.checked = false;
                    }
                });
                $("#rateForm input[name=ProductID]").val($(this).data().id);
                $("#ProductNameModal").html($(this).data().name);
                $("#ProductDescModal").html($(this).data().desc);
                $("#ratings1").prop("checked", true);
                $("#rateForm input[name=flag]").val('i');
                $('#rateModal').modal('show');
                debugger;
            });
        });
        $('#save-model').on('click', function (e) {
            e.preventDefault();
            if (!$('#rateForm').valid()) {
                $('#rateForm').validate();
                return;
            }

            //var formData = {
            //    RatingRemarks: $("#rateForm input[name=RatingRemarks]").val(),
            //    ProductID: $("#rateForm input[name=ProductID]").val(),
            //    Ratings: $("#rateForm input[name=Ratings]").val()
            //};
            //debugger;
            var formData1 = $('#rateForm').serializeArray().reduce(function (obj, item) {
                obj[item.name] = item.value;
                return obj;
            }, {});
            console.log(formData1);
            $.ajax({
                url: '/home/RateProduct',
                type: 'POST',
                dataType: 'json',
                data: formData1,
            }).done(function (data) {
                debugger;
                if (data.errorcode == 0) {
                    alert(data.mes)
                }
                else {
                    alert('error')
                }
            }).fail(function () {
                alert('server error');
            }).always(function () {
                $('#rateModal').modal('toggle');
            });
        });
    </script>
    <script asp-append-version="true" src="/js/validation/validation.js"></script>
    <script asp-append-version="true" src="/js/validation/ProductRatings.js"></script>
}